.root {
	position: relative;
	background-color: #FFFFFF;
	display: block;

	&_state_active {
		.loader {
			opacity: 0;
		}

		.frame {
			pointer-events: all;
			opacity: 1;
		}
	}

	&_type_vk {
		width: 288px;
		height: 218px;
	}

	&_type_fb {
		width: 300px;
		height: 230px;
	}

	&_type_tw {
		width: 450px;
		overflow: hidden;
		border: 1px solid rgba(15, 70, 100, .12);
		min-height: 150px;

		/* stylelint-disable declaration-no-important */
		/* iframe has inline styles */
		iframe {
			display: block !important;
		}

		/* stylelint-disable selector-no-qualifying-type */
		/* hide link while widget loading */
		:global(a.twitter-timeline) {
			opacity: 0;
		}
	}

	&_type_tw&_state_active {
		min-height: 0;
	}

	&_type_likebox {
		width: 80px;
		height: 86px;
		overflow: hidden;
	}
}

.loader {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 32px;
	height: 32px;
	transition-duration: .25s;
	transition-property: opacity;
	will-change: opacity;
}

.frame {
	position: relative;
	z-index: 2;
	border: none;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transition-duration: .25s;
	transition-property: opacity;
	will-change: opacity;
}
