.root {
	position: relative;
	padding-right: calc(100% - 370px);
	display: block;
}

.submit {
	margin-top: 25px;
	width: 170px;
	display: inline-block;
	vertical-align: middle;
	opacity: 1;
	transition: opacity .3s ease;

	&_disabled {
		pointer-events: none;
		opacity: .5;
	}
}

.loader {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	margin-top: 25px;
	opacity: 0;
	transition: opacity .3s ease;

	&_active {
		opacity: 1;
	}
}

.error {
	position: absolute;
	top: 20px;
	left: 430px;
	right: 0;
	min-width: 188px;
	max-width: 280px;
}
