.root {
	margin-top: 50px;
	display: block;
}

.caption {
	display: table;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 12px;
	color: #333333;
	line-height: 19px;
}

.link {
	display: table;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 35px;
	text-decoration: underline;
	line-height: 26px;
	color: #056383;
	transition: color .3s ease;
	cursor: pointer;

	&:hover {
		color: #DF0B0B;
	}
}
