.root {
	width: 295px;
	text-align: center;
	display: block;

	&::before {
		width: 255px;
		height: 273px;
		background-image: url('../../images/background/zeppelin.svg');
		background-repeat: no-repeat;
		display: block;
		margin: 0 auto;
		content: '';
	}
}

.inner {
	width: 275px;
	height: 318px;
	background-image: url('../../images/background/banner.png');
	margin-left: 20px;
	margin-top: -30px;
	padding-left: 21px;
	padding-bottom: 21px;
	display: block;
	box-sizing: border-box;
}

.text {
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 100%;
	height: 100%;
}

.content {
	padding-left: 21px;
	margin-left: 20px;
}
