.root {
	margin-bottom: 25px;
	padding-right: 25px;
	display: block;
	position: relative;
	clear: fix;
}

.links {
	margin-top: 30px;
	margin-bottom: 5px;
	display: block;
}

.link {
	margin-right: 7px;
	display: inline-block;
}

.section {
	display: none;
	font-family: 'PT Sans';

	&_active {
		display: block;
	}

	&_dropzone {
		margin-top: 10px;
	}
}
