.root {
	position: relative;
	margin-top: 8px;
	margin-left: 200px;
	padding-left: 190px;
	padding-bottom: 28px;
	overflow: hidden;
	width: 600px;
	display: block;
	box-sizing: border-box;

	&::before {
		position: absolute;
		left: 140px;
		bottom: 0;
		display: block;
		width: 1px;
		content: '';
		background-color: #666666;
	}

	&:last-child {
		&::before {
			display: none;
		}
	}

	&_with_iconStar {
		padding-left: 165px;

		&::before {
			top: 20px;
		}
	}

	&_with_iconCount {
		&::before {
			top: 64px;
		}

		.date {
			top: 20px;
		}

		.title {
			margin-top: 20px;
		}
	}
}

.images {
	margin-top: 5px;
	font-size: 0;
	line-height: 1;
	display: block;
}

.image {
	margin-top: 5px;
	font-size: 0;
	line-height: 1;
}

.date {
	position: absolute;
	left: 0;
	width: 92px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 11px;
	line-height: 18px;
	text-align: right;
	color: #333333;
}

.link {
	position: relative;
	display: inline-block;
	margin-left: 8px;
	filter: grayscale(100%);
	transition-duration: .25s;
	transition-property: opacity, transform, filter;
	transform: translateZ(0);
	backface-visibility: hidden;
	will-change: opacity, transform, filter;

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		opacity: .9;
		transform: translateY(-4px);
		filter: grayscale(0);
	}

	&_disabled {
		pointer-events: none;
	}
}

.avatars {
	margin-left: -20px;
	margin-top: 5px;
	font-size: 0;
	line-height: 1;
}

.avatar {
	vertical-align: middle;
	font-size: 13px;
	border-radius: 100%;
	pointer-events: none;
}

.description {
	margin-top: -1px;
	margin-bottom: 28px;
	display: table;

	/* stylelint-disable selector-no-type */
	/* generated from json */
	p {
		margin: 0;
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 13px;
		line-height: 18px;
		color: #333333;
	}
}

.iconCount {
	position: absolute;
	top: 0;
	left: 112px;
	width: 56px;
	height: 56px;
	font-family: 'PT Sans Narrow';
	font-size: 28px;
	line-height: 56px;
	text-align: center;
	color: #F2EBDA;
	background-image: url('../../images/timeline/timeline-newstaff-circle.png');
	background-color: #AA2F23;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;

	&::before {
		content: '+';
		margin-right: 4px;
		vertical-align: top;
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 18px;
		line-height: 56px;
	}
}

.iconStar {
	position: absolute;
	top: 0;
	left: 134px;
	width: 12px;
	height: 12px;
}

.version {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.versionLink {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	text-decoration: underline;
	color: #056383;
	transition: color .3s ease;

	&:hover {
		color: #DF0B0B;
	}
}

.quote {
	position: relative;
	margin-top: 4px;
	margin-left: -48px;
	padding-left: 48px;
	display: table;
	line-height: 22px;

	&::before {
		position: absolute;
		top: -5px;
		left: 0;
		font-family: 'PT Sans';
		font-size: 80px;
		line-height: 1;
		content: '\201c';
	}
}
