.root {
	font-size: 35px;
	font-family: 'PT Sans Narrow';
	color: #6A0005;
	margin-bottom: 20px;
	display: block;
	line-height: 1;

	&_center {
		text-align: center;
	}

	&_size_medium {
		font-size: 24px;
		margin-bottom: 11px;
		text-transform: uppercase;
		letter-spacing: .075em;
		line-height: 1;
	}

	&_size_small {
		font-size: 15px;
		line-height: 15px;
		margin-bottom: 9px;
		text-transform: uppercase;
		letter-spacing: .075em;
	}

	&_color_yellow {
		color: #F6E1BA;
	}

	&_color_black {
		color: #333333;
	}

	&_noindent {
		margin-bottom: 0;
	}
}
