.root {
	position: relative;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 20px;
	display: inline-flex;
	width: 32%;
	margin-right: 2%;
	box-sizing: border-box;

	&:nth-child(3n) {
		margin-right: 0;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		width: 17px;
		height: 25px;
		background-image: url('../../images/order/file.png');
		background-repeat: no-repeat;
	}
}

.name {
	padding-right: 5px;
	max-width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: 'PT Sans Narrow';
	font-size: 15px;
	line-height: 25px;
	color: #333333;
}

.progress {
	flex: 1;
	position: relative;
	margin-top: 11px;
	margin-right: 12px;
	height: 5px;
	background-color: #D4C5AA;
	border-top: 1px solid #A8977B;
	border-right: 1px solid #A8977B;

	&_completed {
		border: none;
		margin-top: 12px;
		background-color: transparent;
		background-image: url('../../images/order/progress.png');
		background-repeat: repeat-x;
		background-position: bottom;

		.line {
			background-color: transparent;
		}
	}
}

.line {
	position: absolute;
	top: -1px;
	height: calc(100% + 1px);
	background-color: #990000;
	transition: width .15s;
}

.remove {
	position: absolute;
	top: calc(50% - 3px);
	right: 0;
	width: 7px;
	height: 7px;
	background-image: url('../../images/order/close.png');
	cursor: pointer;
}
