.root {
	position: relative;
	display: block;
	padding-left: 33px;
	margin: 0 30px;
	padding-bottom: 140px;
	padding-top: 262px;
}

.title {
	width: 146px;
	height: 262px;
	background-image: url('../../images/outsource/lamp.svg');
	background-size: cover;
	padding-top: 155px;
	position: absolute;
	top: 0;
	margin-left: 353px;
	letter-spacing: .075em;
	left: calc((100% - 918px) * .5);
	box-sizing: border-box;
	display: block;

	@media (max-width: 1100px) {
		left: 21px;
	}

	@media (min-width: 1300px) {
		left: calc(8.5% + 16px);
	}
}

.text {
	z-index: 0;
	width: 280px;
	height: 43px;
	background-image: url('../../images/background/red-pattern.jpg');
	left: 50%;
	margin-left: -140px;
	content: '';
	display: block;
	font-size: 26px;
	font-family: 'RodchenkoCTT';
	color: #F2EBD9;
	position: relative;
	line-height: 43px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: inherit;
}

.content {
	display: flex;
}

.how {
	width: 290px;
	color: #333333;
	margin-top: -95px;
	display: inline-block;
	vertical-align: top;
	flex-shrink: 0;
}

.cloud {
	position: absolute;
	z-index: 10;

	&_left {
		left: 10%;
		top: 0;
		width: 210px;
	}

	&_right {
		right: 130px;
		top: 70px;
		width: 220px;

		@media (max-width: 1280px) {
			right: 9%;
		}
	}
}
