.root {
	position: relative;
	margin-left: -27px;
	padding-left: 114px;
	min-height: 80px;
	background-image: url('../../images/background/horn.png');
	background-repeat: no-repeat;
	background-position: left top;
	transition: height .5s ease;
	display: block;
}

.link {
	font-size: 12px;
	line-height: 15px;
	font-family: 'Roboto';
	font-weight: 300;
	text-decoration: none;
	border-bottom: 1px dotted;
	position: absolute;
	left: -96px;
	top: 33px;
	cursor: pointer;
	user-select: none;
	color: #056383;
	transition: color .3s ease;

	&:hover {
		color: #DF0B0B;
	}
}

.item {
	position: absolute;
	top: 0;
	opacity: 0;
	transition: opacity .5s ease;

	&_state_active {
		opacity: 1;
	}
}
