.root {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	transition-property: color, border;
	transition-duration: .2s;

	&_color_blue {
		color: #056383;

		&:hover {
			color: #DF0B0B;
			cursor: pointer;
		}
	}

	&_color_blue&_dashed {
		border-bottom: 1px solid #056383;
		text-decoration: none;

		&:hover {
			border-bottom: 1px solid #DF0B0B;
		}
	}

	&_color_blue&_size_big {
		display: inline-block;
		font-family: 'PT Sans';
		font-weight: 700;
		font-size: 16px;
		line-height: 1;
		color: #056383;
		text-transform: uppercase;
		border-bottom: 1px dashed #056383;

		&:hover {
			border-bottom: 1px dashed #DF0B0B;
		}
	}

	&_color_blue&_active {
		cursor: default;
		color: #DF0B0B;
		border-bottom: none;

		&:hover {
			border-bottom: none;
		}
	}

	&_color_yellow {
		color: #FFAE00;

		&:hover {
			cursor: pointer;
			color: #FFFFFF;
		}
	}

	&_size_small {
		font-size: 12px;
	}

	&_underline {
		text-decoration: underline;
	}
}
