.root {
	position: relative;
	display: block;
}

.input {
	display: inline-block;
	width: calc(100% - 95px);
	vertical-align: bottom;
}

.file {
	position: absolute;
	left: 0;
	width: 100%;
	height: 36px;
	cursor: pointer;
	opacity: 0;
}

.button {
	width: 90px;
	height: 35px;
	margin-left: 5px;
	display: inline-block;
	font-family: 'PT Sans';
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 36px;
	color: #591200;
	text-shadow: 0 1px rgba(255, 255, 255, .6);
	background: #FFB800;
	box-shadow: -2px 2px 1px 0 #C55A13;
	user-select: none;
	cursor: pointer;
	vertical-align: bottom;
	margin-bottom: 11px;

	&:hover {
		background: color(#FFB800 l(+10%));
	}

	&:active {
		box-shadow: -1px 1px 1px 0 #C55A13;
	}
}

.warning {
	position: absolute;
	left: calc(100% + 80px);
	bottom: 21px;
	width: 240px;
	display: block;
	color: #8E4338;
	font-family: 'PT Sans';
	font-size: 15px;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -60px;
		height: 1px;
		width: 40px;
		display: block;
		background-color: #8E4338;
	}
}
