.root {
	position: relative;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-left: 192px;
	padding-bottom: 30px;
	overflow: hidden;
	width: 768px;
	min-height: 300px;
	text-align: left;
	display: block;
	box-sizing: border-box;
}

.staff {
	position: absolute;
	top: 0;
	left: 0;
	width: 128px;
	text-align: center;
}

.avatar {
	border-radius: 100%;
	height: 128px;
	width: 128px;
}

.name {
	margin-top: 16px;
	font-family: 'PT Sans Narrow';
	font-size: 24px;
	line-height: 1;
	text-transform: uppercase;
	color: #F2EBDA;
	display: block;
	text-align: center;
}

.city {
	margin-top: 6px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 11px;
	line-height: 18px;
	color: #F2EBDA;
	display: block;
	text-align: center;
}

.quoute {
	margin-top: 58px;
	display: block;
}
